@font-face {
  font-family: 'Freshman';
  font-style: normal;
  font-weight: normal;
  src: local('Freshman'), url('./Freshman.woff') format('woff');
  }

@font-face {
  font-family: 'CollegiateBlackFLF Regular';
  font-style: normal;
  font-weight: normal;
  src: local('CollegiateBlackFLF Regular'), url('./CollegiateBlackFLF.woff') format('woff');
  }
    

* {
  font-family: 'Freshman', 'CollegiateBlackFLF';
}

.App {
  text-align: center;
}

body {
  background-color: #e3e3e3;
  /* color: #5C4033 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#gap {
  padding-top: 100px;
}

#space {
  margin-bottom: 500px;
}

circle:hover {
  cursor: pointer;
}

image:hover {
  cursor: pointer;
}