.nav-item {
    list-style: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    column-gap: 7em;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    z-index: 1;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #33523b;
}