.tick line {
    stroke: #C0C0BB;
}

.tick text {
    fill: #635F5D;
    font-family: 'Poppins'
}

.marks circle {
    fill: #137B80;
}

.marks path {
    /* stroke: #137B80; */
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.linechart-axis-label {
    /* font-family: 'Poppins'; */
    font-size: 2.0em;
    fill: #635F5D;

}

.linechart-menu-container {
    margin-top: 3em;
    margin-left: 0em;
    margin-bottom: -1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.lc-span {
    font-size: 2.2em;
    color: #635F5D;
    margin-right: -0.2em;
}

#checkbox-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-left: 8%;
}

.line-paths {
    stroke-width: 5px;
}

.line-logos {
    z-index: 2;
}

.division-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 24%;
    margin-bottom: 3em;
}

.line-graph-and-controllers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 200px;
}

#line-switches-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .span-slider {
    align-self: center;
} */

.controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linechart-team-indicator {
    width: 4em;
    height: 4em;
    /* border: solid black; */
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linechart-team-indicator img {
    width: 4em;
}
